<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <a id="home" href="/">Insta485</a>
        <a id="exp" href="/accounts/login/">login</a>
    </div>
    
    <form action="/accounts/login/" method="post" enctype="multipart/form-data">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" value="login"/>
    </form>

    <a id="create" href="/accounts/create/">sign up</a>
</body>