<!DOCTYPE html>
<html lang="en">
<head>
	<title>insta485</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <a id="home" href="/">Insta485</a>
        <ul>
            <li><a id="exp" href="/explore/">explore</a></li>
            <li><a id="user" href="/u/{{ logname }}/">{{ logname }}</a></li>
        </ul>
    </div>

    <!-- DO NOT CHANGE THIS -->
    <form action="/accounts/password/" method="post" enctype="multipart/form-data">
    <input type="password" name="password"/>
    <input type="password" name="new_password1"/>
    <input type="password" name="new_password2"/>
    <input type="submit" name="update_password" value="submit"/>
    </form>

    <a id="edit" href="/accounts/edit/">edit</a>
    
</body>